html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px;
  background-color: #51d0de;
}

.hero {
    /* Sizing/scroll effect */
    width: 100vw;
    height: 100vh;
  
   /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
  
  text-align: center;
  
   /* Background styles */
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/22/341408/666728946176c86ffcfc8e365f1d6668-700.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;  
   margin-top: 0;
    margin-bottom: 0.5em;
  color: white;
  text-shadow: 3px 3px 0px #bf4aa8;
}
.hero h2 {
  color: white;
  text-shadow: 3px 3px 0px #bf4aa8;


}





/* nav bar */
#bar{
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li a{
  display:block;
  padding: 8px;
  font-size: 30px;
  color: inherit;
  text-decoration: none;
  
}

li a:hover {
  background-color: #E7A2C2;
  color: white;
  
}

.info {
  font-size: 30px;
  color: white;
  position: relative;
  text-align: center;
}

#flower{
  height: 100px;
  width: 100px;
  margin: 0px;
  top: 50px;
  position: relative; 
}

#bird{
  height: 100px;
  width: 100px;
  margin: 0px;
  top: 50px;
  position: relative;
}

/* info section */
main{

  color: #bf4aa8;
     border: 3px groove black;
    border-color: hotpink;
    border-width: 50px;
}

#bar {
  position: relative;
      /* Border styles */
    border: 3px solid black;
    border-color: hotpink;
    /* Padding and margins */
      padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  color: white;
  
     display: flex;
    justify-content: center;
    align-items: center;
  
  text-align: center;
  background-color: #8F0066;
}

#header{
  position: relative;
  text-align: center;
  font-size: 50px;
  margin: 0px auto;
  white-space: nowrap;
  color: #8F0066;
  
    
}
.flag {
  height: 300px;
  width: 400px;
}

footer{
  padding: 40px;
  margin: 60px;
   text-align: center;
}

p{
  color: black;
}